.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;

}

.dialogsItems a:visited {
    color: white;
}

.dialogs a {
    text-decoration: none;
}

.photo {
    width: 40px;
    border-radius: 10px;
}